<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li><a (click) = "scroll(home)"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a (click) = "scroll(about)"><i class="bx bx-user" ></i> <span>About</span></a></li>
        <li><a (click) = "scroll(resume)"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <!-- <li><a (click) = "scroll(portfolio)"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li> -->
        <li><a (click) = "scroll(services)"><i class="bx bx-server"></i> <span>Interest</span></a></li>
        <!-- <li><a (click) = "scroll(contact)"><i class="bx bx-envelope"></i> <span>Contact</span></a></li> -->
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section #home id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Sebastian Rojas</h1>

      <p>I'm  <span
        class="typed"
        data-period="2000"
        data-rotate='[ "an engineer.", "a photographer.", "a data scientist.", "a programmer.", "a geek!" ]'></span></p>
      <div class="social-links">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
        <a href="https://www.instagram.com/sebasrojas9/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
        <a href="https://www.linkedin.com/in/sebasra/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section #about id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <!-- <p></p> -->
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Data Engineer &amp; Programmer.</h3>
            <p class="font-italic">
              Ahead you can see basic facts about me and my contact information.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Name:</strong> Jose Sebastian Rojas Ardila</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 13 December 1993</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +39 3516946729</li>
                  <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Padua, Italy</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 27</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Electrical and Electronic Engineer</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> js.rojas551@gmail.com</li>
                </ul>
              </div>
            </div>
            <p>
              I am a colombian engineer studying a master in Data Science in the Università degli Studi di Padova. <br>
              I used to be Flight Data Analyst and later Fuel Conservation Coordinator in Avianca. In this airline I learned a lot of about he industry of aviation, aerospace engineering and data management. I was involved in several projects that includes the use of tools like R, Python, SQL, power bi, among others. <br>
              I consider myself as an amateur photographer and I want to become a game programmer and game designer.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Resume Section ======= -->
    <section #resume id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <!-- <div class="section-title">
          <h2>Resume</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div> -->

        <div class="row">
          <div class="col-lg-6">
            <!-- <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Brandon Johnson</h4>
              <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Portland par 127,Orlando, FL</li>
                <li>(123) 456-7891</li>
                <li>alice.barkley@example.com</li>
              </ul>
            </div> -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Electronic Engineering</h4>
              <h5>2012 - 2017</h5>
              <p><em>Universidad de los Andes, Bogotá, Colombia <img src="assets/img/Uniandes.png"  class="ima-uni"></em></p>
              <h5>Thesis:</h5><p>STUDY OF THE VARIABILITY OF THE CARDIAC RATE AND THE ELECTRODERMIC ACTIVITY IN SOMNOLENCE EPISODES. study was developed in which the association between episodes of somnolence and signs of cardiac rhythm variability and electrodermal activity was sought.</p>
            </div>
            <div class="resume-item">
              <h4>Electrical Engineering</h4>
              <h5>2013 - 2018</h5>
              <p><em>Universidad de los Andes, Bogotá, Colombia <img src="assets/img/Uniandes.png"  class="ima-uni"></em></p>
              <h5>Thesis:</h5><p>FORECAST OF THE PRICE OF THE ELECTRICAL ENERGY IN COLOMBIA, USING BAYESIAN INFERENCE. Make a model using Bayesian inference to forecast the behavior of the price of energy in the stock market, for the day-ahead market.</p>
            </div>
            <div class="resume-item">
              <h4>Master in Data Science</h4>
              <h5>2020 - Present</h5>
              <p><em>Università degli Studi di Padova, Padova, Italy. <img src="assets/img/Padova.png"  class="ima-uni"></em></p>
              <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Flight Data Analyst</h4>
              <h5>April 2017 - December 2019</h5>
              <p><em>Avianca, Bogotá, Colombia <img src="assets/img/Avianca.png"  class="ima-uni"></em></p>
              <ul>
                <li>Data engineering with R.</li>
                <li>Process automation and task with software development with Java and Javascript. </li>
                <li>MySQL database management.</li>
                <li>Apps development with Java.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Fuel Conservation Coordinator</h4>
              <h5>January 2020 - October 2020</h5>
              <p><em>Avianca, Bogotá, Colombia <img src="assets/img/Avianca.png"  class="ima-uni"></em></p>
              <ul>
                <li>Implement and measure fuel saving initiatives for all Avianca fleets.</li>
                <li>Crossing and treatment of information sources with pyspark, to later show results in dashboards.</li>
                <li>Use R to process area data</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Facts Section ======= -->
    <!-- <section #facts id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">232</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">521</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,463</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">15</span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section #skills id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>My principal skills were developed in programming language as R, Pyhton and Matlab. In Avianca I learned how to use SQL, with MySQL and PostgreSQL, to create dashboards and making statistical analysis. In pandemic time, a friend of mine teach me how to use Angular for web page development. Finally I have always been interested in photography and illustration, and I know how to use tools like Photoshop and illustrator.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python <i class="val">75%</i></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">R <i class="val">90%</i></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">80%</i></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Angular web development <i class="val">50%</i></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">C# <i class="val">50%</i></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop/ Lightroom/ Illustrator <i class="val">65%</i></span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Services Section ======= -->
    <section #services id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Interests</h2>
          <p>I am interested in the data science as part of the technological evolution in the world, and part of the evolution of the society. I think that the videogames are fundamental part of the modern society and play a key role in the development of the people, and I am interested in developing the appropriate technology to generate an impact on society and my country through these two tools. Also I have a lot of personal interests like travel, the music, photography, sports, etc. Ahead you will find some interesting links or articles talking about my interests</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <!-- <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg> -->
                <img src="assets/img/mask.png" class="img-fluid" alt="">
              </div>
              <h4>Fighting the “coded gaze”</h4>
              <p>There is no data science if the rules only fits the norms or expectations of the dominant culture.</p>
              <button type="submit" onclick=" window.open('https://www.youtube.com/watch?v=UG_X_7g63rY&ab_channel=TED','_blank')" >Learn More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <img src="assets/img/criminal.png" class="img-fluid" alt="">
              </div>
              <h4>COMPAS Recidivism Algorithm</h4>
              <p>You can't trust in a software that have the same errors that the people that no have idea of criminal justice expertise.</p>
              <button type="submit" onclick=" window.open('https://www.propublica.org/article/how-we-analyzed-the-compas-recidivism-algorithm','_blank')">Learn More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <img src="assets/img/DBH.jpg" class="img-fluid" alt="">
              </div>
              <h4>Detroit become human. The moral machine in a PS4 Game</h4>
              <p>Philosophy on Artificial Intelligence. where does technology end and intelligent cognisant beings begin? What makes us or anything else human? How in the future the machines will take decisions?</p>
              <button type="submit" onclick=" window.open('https://medium.com/swlh/detroit-become-human-and-philosophy-on-artificial-intelligence-9d8e354b3ddf','_blank')">Learn More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <img src="assets/img/Helmet.jpg" class="img-fluid" alt="">
              </div>
              <h4>Still in the race even when the universe has other plans</h4>
              <p>The perfection that leads you to be the champion of Formula 1, both for the driver and the team, inspires me to continue working professionally and personally in me. </p>
              <button type="submit" onclick=" window.open('https://www.youtube.com/watch?v=q6hlR0GsOQI&ab_channel=FORMULA1','_blank')" >Learn More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <img src="assets/img/camera.png" class="img-fluid" alt="">
              </div>
              <h4><a href="https://www.instagram.com/sebasff0000/">My photo project</a></h4>
              <p>I feel the necessity to share with the people the wonderful places that I had the pleasure to meet. I don´t want that all that pictures get stored in the oblivion.</p>
              <button type="submit" onclick=" window.open('https://www.instagram.com/sebasff0000/','_blank')" >Learn More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <img src="assets/img/saturn.png" class="img-fluid" alt="">
              </div>
              <h4>The timelapse of the future</h4>
              <p>How will be the end of our planet and the dead of our sun? This video is a picture of the future as modern science and our knowledge in astronomy paint it. This will surely evolve over time as we search for more.</p>
              <button type="submit" onclick=" window.open('https://www.youtube.com/watch?v=uD4izuDMUQA&list=WL&index=15&t=740s&ab_channel=melodysheep','_blank')" >Learn More</button>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->






    <!-- ======= Portfolio Section ======= -->
    <!-- <section #portfolio id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->

    <!-- End Portfolio Section -->



    <!-- ======= Contact Section ======= -->
    <!-- <section #contact id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section> -->
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Sebastian Rojas Ardila</h3>
      <!-- <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p> -->
      <div class="social-links">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <!-- <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
        <a href="https://www.instagram.com/sebasrojas9/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
        <a href="https://www.linkedin.com/in/sebasra/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <!-- <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div> -->
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a (click) = "scroll(home)"  class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/src/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/src/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/src/assets/vendor/php-email-form/validate.js"></script>
  <script src="/src/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/src/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/src/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/src/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/src/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/src/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/src/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/src/assets/js/main.js"></script>

</body>

